# Pandas exercises (part 2)

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('world_alcohol.csv')
df.shape

(100, 5)

In [7]:
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

## Pandas 1

The Pandas 1 set of exercises is in the file 'exercises_pandas_airline.ipynb'

## Pandas 2
Write a Pandas program to filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset

In [8]:
mask2 = df['WHO region'].isin(["Africa","Eastern Mediterranean","Europe"])
df[mask2]

    Year WHO region            Country Beverage Types  Display Value
2   1985     Africa       Cte d'Ivoire           Wine           1.62
6   1987     Africa          Mauritius           Wine           0.13
7   1985     Africa             Angola        Spirits           0.39
9   1984     Africa            Nigeria          Other           6.10
10  1987     Africa           Botswana           Wine           0.20
..   ...        ...                ...            ...            ...
93  1987     Africa         Madagascar          Other            NaN
94  1985     Europe            Ukraine        Spirits           3.06
95  1984     Africa              Niger          Other           0.00
96  1985     Europe         Luxembourg           Wine           7.38
98  1984     Africa  Equatorial Guinea           Wine           0.00

[69 rows x 5 columns]

## Pandas 3

Write a Pandas program to filter those records which not appears in a given list from world alcohol consumption dataset

In [9]:
df[~mask2]

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
5,1987,Americas,Guatemala,Other,0.00
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
14,1985,Western Pacific,Viet Nam,Spirits,0.05
16,1984,Americas,Costa Rica,Wine,0.06
20,1986,South-East Asia,Myanmar,Wine,0.00
21,1989,Americas,Costa Rica,Spirits,4.51
28,1987,Western Pacific,Viet Nam,Beer,0.11
31,1986,Western Pacific,Micronesia (Federated States of),Wine,0.00
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
43,1984,Western Pacific,China,Wine,0.03
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
47,1986,Americas,Mexico,Other,0.04
48,1987,Americas,Nicaragua,Beer,0.70
54,1984,Americas,El Salvador,Spirits,1.81
55,1989,Americas,Suriname,Wine,0.04
56,1987,Western Pacific,Viet Nam,Wine,0.00
61,1984,Western Pacific,Papua New Guinea,Spirits,0.08
62,1987,Americas,Suriname,Other,0.00
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
78,1989,Americas,Jamaica,Other,0.00
84,1986,South-East Asia,Sri Lanka,Other,0.00
86,1986,Americas,Bahamas,Wine,1.83
97,1984,South-East Asia,Indonesia,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

## Pandas 4

Write a Pandas program to filter all records where the average consumption of beverages per person from .5 to 2.50 in world alcohol consumption dataset

In [12]:
mask4 = (df['Display Value'] <= 2.50 ) & (df['Display Value'] >= 0.50)
df[mask4]

,Year,WHO region,Country,Beverage Types,Display Value
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
8,1986,Americas,Antigua and Barbuda,Spirits,1.55
11,1989,Americas,Guatemala,Beer,0.62
17,1989,Africa,Seychelles,Beer,2.23
18,1984,Europe,Norway,Spirits,1.62
19,1984,Africa,Kenya,Beer,1.08
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22
32,1989,Africa,Mauritius,Beer,1.60
34,1986,Europe,Russian Federation,Wine,0.80
35,1985,Americas,Saint Kitts and Nevis,Spirits,2.24
40,1987,Europe,Austria,Spirits,1.90
46,1987,Americas,Trinidad and Tobago,Spirits,2.26
48,1987,Americas,Nicaragua,Beer,0.70
49,1986,Europe,Malta,Wine,1.49
54,1984,Americas,El Salvador,Spirits,1.81
64,1989,Americas,Bolivia (Plurinational State of),Beer,1.26
70,1986,Africa,Madagascar,Spirits,1.02
71,1985,Africa,Mali,Other,0.57
74,1986,Americas,Bolivia (Plurinational State of),Spirits,2.06
79,1989,Europe,Finland,Other,2.09
80,1985,Africa,Malawi,Other,0.84
82,1987,Europe,Ireland,Spirits,2.25
86,1986,Americas,Bahamas,Wine,1.83
89,1986,Eastern Mediterranean,Lebanon,Wine,0.70

## Pandas 5

Write a Pandas program to find number of consumption of wine per person greater than 2 in world alcohol consumption dataset.

In [13]:
mask5 = df['Display Value'] > 2
df[mask5].shape[1]

5

## Pandas 6

Write a Pandas program to select consecutive columns and also select rows with Index label 0 to 9 with some columns from world alcohol consumption dataset

In [14]:
df.iloc[0:9,0:3]

   Year       WHO region                Country
0  1986  Western Pacific               Viet Nam
1  1986         Americas                Uruguay
2  1985           Africa           Cte d'Ivoire
3  1986         Americas               Colombia
4  1987         Americas  Saint Kitts and Nevis
5  1987         Americas              Guatemala
6  1987           Africa              Mauritius
7  1985           Africa                 Angola
8  1986         Americas    Antigua and Barbuda

## Pandas 7

Write a Pandas program to select consecutive columns and also select rows with Index label 0 to 9 with some columns from world alcohol consumption dataset

In [15]:
df.iloc[0:9,0:3]

   Year       WHO region                Country
0  1986  Western Pacific               Viet Nam
1  1986         Americas                Uruguay
2  1985           Africa           Cte d'Ivoire
3  1986         Americas               Colombia
4  1987         Americas  Saint Kitts and Nevis
5  1987         Americas              Guatemala
6  1987           Africa              Mauritius
7  1985           Africa                 Angola
8  1986         Americas    Antigua and Barbuda

## Pandas 8

Write a Pandas program to filter all records starting from the 2nd row, access every 5th row from world alcohol consumption dataset

In [16]:
df.iloc[2::5]

,Year,WHO region,Country,Beverage Types,Display Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
7,1985,Africa,Angola,Spirits,0.39
12,1985,Western Pacific,Lao People's Democratic Republic,Beer,0.00
17,1989,Africa,Seychelles,Beer,2.23
22,1984,Europe,Romania,Spirits,2.67
27,1984,Eastern Mediterranean,Bahrain,Beer,2.22
32,1989,Africa,Mauritius,Beer,1.60
37,1986,Europe,Sweden,Beer,3.04
42,1984,Europe,Ukraine,Spirits,3.06
47,1986,Americas,Mexico,Other,0.04
52,1986,Eastern Mediterranean,Saudi Arabia,Wine,0.00
57,1989,Europe,Croatia,Wine,5.10
62,1987,Americas,Suriname,Other,0.00
67,1989,Africa,Namibia,Beer,0.00
72,1987,Africa,Mauritania,Other,0.00
77,1985,Africa,Cameroon,Spirits,0.01
82,1987,Europe,Ireland,Spirits,2.25
87,1989,Eastern Mediterranean,Iraq,Wine,0.01
92,1986,Africa,Eritrea,Spirits,0.00
97,1984,South-East Asia,Indonesia,Wine,0.00

## Pandas 9 etc

They are in the file 'exercises_pandas_students.ipynb'